<%= form_with(model: semilla, local: true) do |form| %>
  <% if semilla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(semilla.errors.count, "error") %> prohibited this semilla from being saved:</h2>

      <ul>
        <% semilla.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :tipo %>
    <%= form.text_field :tipo %>
  </div>

  <div class="field">
    <%= form.label :origen %>
    <%= form.text_field :origen %>
  </div>

  <div class="field">
    <%= form.label :cantidad %>
    <%= form.text_field :cantidad %>
  </div>

  <div class="field">
    <%= form.label :fecha_siembra %>
    <%= form.date_select :fecha_siembra %>
  </div>

  <div class="actions">
    <%= form.submit "Crear semilla" %>
  </div>
<% end %>
