<p id="notice"><%= notice %></p>

<h1>Semillas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Origen</th>
      <th>Cantidad</th>
      <th>Fecha siembra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semillas.each do |semilla| %>
      <tr>
        <td><%= semilla.nombre %></td>
        <td><%= semilla.tipo %></td>
        <td><%= semilla.origen %></td>
        <td><%= semilla.cantidad %></td>
        <td><%= semilla.fecha_siembra %></td>
        <td><%= link_to 'Ver', semilla %></td>
        <td><%= link_to 'Editar', edit_semilla_path(semilla) %></td>
        <td><%= link_to 'Borrar', semilla, method: :delete, data: { confirm: '¿Segurx que querés borrar esta semilla?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar semilla', new_semilla_path %>
