<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @semilla.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @semilla.tipo %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @semilla.origen %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @semilla.cantidad %>
</p>

<p>
  <strong>Fecha siembra:</strong>
  <%= @semilla.fecha_siembra %>
</p>

<%= link_to 'Editar', edit_semilla_path(@semilla) %> |
<%= link_to 'Volver atrás', semillas_path %>
