<p id="notice"><%= notice %></p>

<h1>Semillass</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Origen</th>
      <th>Cantidad</th>
      <th>Fecha siembra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semillass.each do |semillas| %>
      <tr>
        <td><%= semillas.nombre %></td>
        <td><%= semillas.tipo %></td>
        <td><%= semillas.origen %></td>
        <td><%= semillas.cantidad %></td>
        <td><%= semillas.fecha_siembra %></td>
        <td><%= link_to 'Show', semillas %></td>
        <td><%= link_to 'Edit', edit_semillas_path(semillas) %></td>
        <td><%= link_to 'Destroy', semillas, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Semillas', new_semillas_path %>
