<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @semillas.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @semillas.tipo %>
</p>

<p>
  <strong>Origen:</strong>
  <%= @semillas.origen %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @semillas.cantidad %>
</p>

<p>
  <strong>Fecha siembra:</strong>
  <%= @semillas.fecha_siembra %>
</p>

<%= link_to 'Edit', edit_semillas_path(@semillas) %> |
<%= link_to 'Back', semillass_path %>
