// Place all the styles related to the Bienvenidxs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #ff0097;
  color: #ffffff;
  margin: 93px;
  background-image: url(/assets/semillas3.jpg);
  background-size: cover ; 
  background-repeat: no-repeat;
  //background-position: bottom;
  }
 
 
 h1 {
  //color: #ffffff;
  //background-color: #eacd76;
  color: #f00056;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 80px;
  line-height: 60px
}
 
  
h2 {
  //color: #ffffff;
  //background-color: #eacd76;
  color: #00bc12;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 40px;
  line-height: 60px
}

p {
  //color: #ffffff;
  //background-color: #eacd76;
  color: #f00056;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 40px;
  line-height: 60px
}


body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 40px;
  line-height: 60px; 
  }
