<nav>
  <ul>
    <li><%= link_to 'Iniciar sesión', new_user_session_url%></li>
    <li><%= link_to 'Registrarse', new_user_registration_url%></li>
  </ul>
</nav>
<main>
  <h1>Hola Humane!</h1>
  <h2>Esta es la pagina principal de Huertapp: Banco de semillas confederado!</h2>
  <p>Estamos intentando generar una aplicacion
que posibilite el registro de semillas disponibles para la siembra
en diferentes comunidades.</p>
</main>
